In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

In [ ]:
warnings.filterwarnings('ignore')

In [ ]:
dataset_train=pd.read_csv('train.csv')
dataset_test=pd.read_csv('test.csv')

In [ ]:
dataset_test

        id                                              tweet
0     7921  I hate the new #iphone upgrade. Won't let me d...
1     7922  currently shitting my fucking pants. #apple #i...
2     7923  I'd like to puts some CD-ROMS on my iPad, is t...
3     7924  My ipod is officially dead. I lost all my pict...
4     7925  Been fighting iTunes all night! I only want th...
...    ...                                                ...
1948  9869  #SamsungGalaxyNote7 Explodes, Burns 6-Year-Old...
1949  9870  Now Available - Hoodie. Check it out here - ht...
1950  9871  There goes a crack right across the screen. If...
1951  9872  @codeofinterest as i said #Adobe big time we m...
1952  9873  Finally I got it .. thanx my father .. #Samsun...

[1953 rows x 2 columns]

In [ ]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
corpus=[]

In [ ]:
for i in range(0,7920):
    text = re.sub(r'[^a-zA-Z]',' ',dataset_train['tweet'][i])
    text = re.sub(r'#','',text) #Removing the # the hyper string symbol
    text = re.sub(r'RT[\s]','',text) #Removing RT
    text = re.sub(r'http?:\/\/S+','',text) # remove 
    text = re.sub(r'https:+','',text) # remove 
    text = re.sub(r':','',text) # remove :
    text = re.sub(r'//','',text) 
    text = re.sub(r'/','',text)
    text=text.lower()
    text=text.split()
    ps=PorterStemmer()
    all_stopwords=stopwords.words('english')
    #all_stopwords.remove('not')
    text=[ps.stem(word) for word in text if word not in set(all_stopwords)]
    text=" ".join(text)
    corpus.append(text)

In [ ]:
for i in range(0,1953):
    text = re.sub(r'[^a-zA-Z]',' ',dataset_test['tweet'][i])
    text = re.sub(r'#','',text) #Removing the # the hyper string symbol
    text = re.sub(r'RT[\s]','',text) #Removing RT
    text = re.sub(r'http?:\/\/S+','',text) # remove 
    text = re.sub(r'https:+','',text) # remove 
    text = re.sub(r':','',text) # remove :
    text = re.sub(r'//','',text) 
    text = re.sub(r'/','',text)
    text=text.lower()
    text=text.split()
    ps=PorterStemmer()
    all_stopwords=stopwords.words('english')
    #all_stopwords.remove('not')
    text=[ps.stem(word) for word in text if word not in set(all_stopwords)]
    text=" ".join(text)
    corpus.append(text)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [ ]:
X_train=cv.fit_transform(corpus[0:7920]).toarray()
X_test=cv.transform(corpus[7920:]).toarray()
y_train=dataset_train.iloc[:,1].values

In [ ]:
from sklearn.naive_bayes import GaussianNB
nbc=GaussianNB()
nbc.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
y_pred=nbc.predict(X_train)

In [ ]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_train,y_pred)

In [ ]:
score

0.9694444444444444

In [ ]:
y_pred=nbc.predict(X_test)

In [ ]:
len(y_pred)

1953

In [ ]:
submission=pd.DataFrame({'id': dataset_test['id'],'label':y_pred})

In [ ]:
submission.to_csv('submission.csv',index=False)